.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, blue, green);
}

.calculator {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  background-color: darkblue;
}

.display {
  height: 50px;
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  color: white;
}
